<div class="col-md-6 col-md-offset-3">

    <h3>User(s), pending approval action:</h3>

    <table class='table' *ngIf="pending">
        <thead>
          <tr>
            <th>User name</th>
            <th>Identifier</th>
            <th>Approve</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of pending">
            <td>{{ user.userName }}</td>
            <td>{{ forecast.identifier }}</td>
            <td><a (click)="approveUser(user.id)">Approve</a></td>
          </tr>
        </tbody>
      </table>

    <!-- <ul>
        <li *ngFor="let user of pending">
            {{user.userName}} ({{user.identifier}})
            - <a (click)="approveUser(user.id)">Approve</a>
        </li>
    </ul> -->
    <div>
        <a class="help-block" (click)="approveAll(pending)">Approve all</a>
    </div>
</div>