<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="CoffeMachineSkypeBot" />
    <add key="MicrosoftAppId" value="65fb331a-973a-43fa-896f-4cc772b3abe0" />
    <add key="MicrosoftAppPassword" value="Nfgp4hkT0YnYz9e3Vb106ao" />
    
    <!--DB part settings--> 
    <!--Tcp connection string-->
    <!--<add key="decrypted" value="d3JnTlKtAy1yiRsZEugtMFnLbmM7LKNwHyC2SGyHq3vflwNmgvZsY9ZILjHvg8L+Qlt3irDttjBjpvjQeUnGyycIxj37Ioau+0bkT8GtTpYJyMnBdAyPYQAso/DcL/Yo61q5B73R5FjmAme7gvSMYstMxVNFykcfPxovz9eMHRrVN7aShHJCbF2kTnWPugt817rQ6AKz6SDu+KYcc2YWG1cqMhY7aeXi36bqUCeWdyXoPWGgEIg5g6gJhj8C+Cxl6GojvNyAc9Z4Qb4eLtsLvzMKsHA93CZ+uYhk824n1yRqeFTF0h9KnlFauKlwx5hCg2waS1RVJBa1tjjDguZ5faH13acz7THJeWDq8lYghiTcnPY1LiDYK3P2VWs4+x14U7u+/NenAPrtGJy1bIQQ9aZ8uSsqf5KUSe9xsvZUoCA="/>-->
    <!--NonTcp connection-->
    <!--<add key="decrypted" value="M02TV0iIMi5rNfqh9Vs+BHWOH07twYc6c8A81pV4l6iRzpMF9AkKJ4GW0PwfAVPCFcmNlwebudT/jGlMOXZI5RwRjwMBr1NS07aZkjq6iJjnsrPPjY8x7TJDdULlXWMcaPazxXN+jccwnshBAt1YcQX46ozU9vYYcOA6XmfFThErOF8zt12ndpcWKJZcPy286MhiuS8GHxCsQylJBA8S6j6EOnrFXnWoSythPIYdxjq59di0aOTVvs/jtrokyUhnItPLjLF7n0uWr85CMcPg5+k0U5+oCVMQjvMEGRSGvsSi4lDug0ZKtOhWd7HZ9dsB8jAGFUpshiZ9jYYtcrOSv0LDoXK3qR07NC8xbJh6YToEUvJeipwJ1SNYUehRmN7y9hbaRQR1vkAk9rHV1KT6iogVGGukO9Hmx5aQZ7+Ku0w="/>-->
    <!--SQLExpress-->
    <add key="decrypted" value="IJRiO4Q9M9gXcPcLwfJ4ChF5lzB6dg82n63nt3hhQx92Psx2Y7lcGl1Z+wAaJpEjd0A5ghsyrpaUH94cj+Wti8+t6bhC0IpJXFtyfwr+8oMzFbvUTkRwA49IWEYF7vvidjhZm9PyOm/7KsA8C6197UIF7Zwg7gFl7F3GlQ7DjF1NMSOdz5UV1f5y3nuG/p8AbeDID40uHPqNsNqAIM1ygHITagLtp1hapns3Ir6AzA4Gze1qF+ECOCCbqQM4k/CR"/>
  </appSettings>

  <connectionStrings>
    <add name="CoffeeMachineConnection"
     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CoffeeMachineBotData;Integrated Security=True;"
     providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.htm" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>